<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>
    <h1>Welcome!</h1>
    <h3>To get to the list, click <a href="/todos">here</a></h3>
</body>
</html>